@extends("base.html")
@require(rooms)

@def extra_js():
<script type="text/javascript">
    $(showForm);
</script>
@end

@def content():
<div>
    @if rooms:
        @for room in rooms:
        <div class="room">
            <h1><a href="@room.get_absolute_url()">@room.name</a></h1>
        </div>
        @end
    @else:
        <p>There are currently no rooms! Add one below.</p>
    @end
</div>
@end

@def form():
<form method="post" action="/create">
    <input type="text" id="name" name="name">
    <input type="submit" id="submit" value="Add Room">
</form>
@end